body {
	background-image: url('../img/2.png');
  background-size: cover;
  background-attachment: fixed;
}

h2 {
	color: #fff;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
  width: 350px;
}

a {
	color: #435160;
  text-decoration: none;
}

#register-panel {
	width: 465px;
  position: sticky;
  top: 30%;
  left: 55%; 	
  margin-top: 20px;
  margin-bottom: 20px;
}

#register-panel-back {
	width: 350px; 
	padding: 50px 50px 30px 50px; 
	background-color: rgba(40, 46, 52, 0.9);
	border-radius: 5px;
}

.inputBox {
	width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

input:invalid {
  border-bottom: 1px solid rgba(255, 150, 38, 0.7);
}

input:valid {
  border-bottom: 1px solid #435160;
}

#forgot {
	margin-top: 25px;
  display: block;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  width: 350px;
}

#forgot:hover {
  color: #6D7781;
}

input::placeholder {
  color: #435160;
  font-size: 12px;
}

@media (max-width:580px) {
  body {
    background-image: url('../img/2_small.png');
  }
}